
/**
 * @file
 * Memento.
 *
 */

#memento {
  background: #101010 url(images/bkg.png) bottom left repeat-x;
  font-size: 9px;
  font-family: "lucida grande", tahoma, verdana, arial, sans-serif;
  left: 0;
  position: fixed;
  text-align: left;
  bottom: 0px;
  width: 100%;
}
#memento-wrapper {
  overflow: hidden;
}
#memento .dropdown .memento-icon a {
  padding: 1px 8px 4px;
}
#memento .dropdown .memento-icon ul a {
  padding: 4px 8px;
}
#memento .dropdown .memento-icon img {
  vertical-align: bottom;
}
#memento .dropdown .memento-users a {
  background: transparent url(images/icon_users.png) 90% center no-repeat;
  padding-right: 22px;
}
#memento .dropdown .memento-action {
  float: right;
}
#memento .dropdown .memento-action a {
  border-left: 1px solid #323232;
  border-right: none;
}
body.memento {
  margin-top: 20px !important;
}

/* All lists */
#memento,
#memento .dropdown {
  line-height: 1.4em;
  list-style: none;
  margin: 0;
  padding: 0;
  z-index: 999;
}
#memento .dropdown {
  position: static;
}
#memento a {
  background: transparent none;
  border: none;
  color: #EEE;
  font-weight: normal;
  text-align: left;
  text-decoration: none;
}
#memento .dropdown a {
  border-right: 1px solid #323232;
  display: block;
  padding: 4px 8px;
}
#memento .dropdown .memento-tab a {
  border-right: 1px solid #52565E;
}
#memento .dropdown li li a {
  border-right: none;
  border-top: 1px solid #323232;
}
#memento .dropdown li li.memento-inactive a {
  font-style: italic;
  color: #666666;
}

#memento .dropdown li.memento-recording-on a {
  color: #FF0000;
}

#memento .dropdown li.memento-recording-off a {
  color: #666666;
}

/* All list items */
#memento .dropdown li {
  background-image: none;
  float: left;
  height: 100%;
  list-style-image: none;
  list-style-type: none;
  margin: 0 !important;
  padding: 0;
}
#memento .dropdown .memento-tab {
  background: url(images/bkg_tab.png) repeat-x left bottom;
  padding-bottom: 1px;
}
#memento .dropdown li li {
  background: #202020;
  filter: Alpha(opacity=88);
  opacity: 0.88;
  width: 200px; /* Required for Opera */
}
#memento .dropdown li li li {
  filter: Alpha(opacity=100);
  opacity: 1;
}

/* Second-level lists */
/* Note: We must hide sub-lists or scrollbars might appear (display: none is not read by screen readers). */
#memento .dropdown li ul {
  background: none;
  display: none;
  left: -999em;
  line-height: 1.2em;
  margin: 0;
  position: absolute;
  width: 160px;
}

/* Third-and-above-level lists */
#memento .dropdown li li.expandable ul {
  margin: -20px 0 0 160px;
}

#memento .dropdown li:hover ul ul,
#memento .dropdown li:hover ul ul ul,
#memento .dropdown li:hover ul ul ul ul,
#memento .dropdown li:hover ul ul ul ul ul,
#memento .dropdown li.iehover ul ul,
#memento .dropdown li.iehover ul ul ul,
#memento .dropdown li.iehover ul ul ul ul,
#memento .dropdown li.iehover ul ul ul ul ul {
  display: none;
  left: -999em;
}

/* Lists nested under hovered list items */
#memento .dropdown li:hover ul,
#memento .dropdown li li:hover ul,
#memento .dropdown li li li:hover ul,
#memento .dropdown li li li li:hover ul,
#memento .dropdown li li li li li:hover ul,
#memento .dropdown li.iehover ul,
#memento .dropdown li li.iehover ul,
#memento .dropdown li li li.iehover ul,
#memento .dropdown li li li li.iehover ul,
#memento .dropdown li li li li li.iehover ul {
  display: block;
  left: auto;
  bottom: 100%;
}
#memento .dropdown li.memento-action:hover ul {
  right: 0;
}

/* Second-and-more-level hovering */
#memento .dropdown li li.expandable {
  background: #45454A url(images/arrow.png) no-repeat 145px 6px;
}
#memento .dropdown li li:hover,
#memento .dropdown li li.iehover {
  background-color: #111;
}
#memento .dropdown li li:hover a,
#memento .dropdown li li:hover li:hover a,
#memento .dropdown li li:hover li:hover li:hover a {
  color: #FFF;
}
#memento .dropdown li li.expandable:hover a,
#memento .dropdown li li.expandable:hover li.expandable:hover a {
  border-color: #444;
  color: #EEE;
}
#memento .dropdown li li.expandable:hover li a,
#memento .dropdown li li.expandable:hover li.expandable:hover li a {
  border-color: #323232;
}
#memento .dropdown li li:hover li a,
#memento .dropdown li li.iehover li a,
#memento .dropdown li li.iehover li.iehover li a {
  color: #EEE;
}
#memento .dropdown li li.iehover a,
#memento .dropdown li li.iehover li.iehover a,
#memento .dropdown li li.iehover li.iehover li.iehover a {
  color: #FFF;
  width: 90%; /* IE */
}

/* #210615: Mozilla on Mac fix */
html.js fieldset.collapsible div.fieldset-wrapper {
  overflow: visible;
}

/* Hide the menu on print output. */
@media print {
  #memento {
    display: none !important;
  }
  body.memento {
    margin-top: 0 !important;
  }
}

/**
 * Tweaks permissions, if enabled.
 */
tr.memento-tweak-permissions-processed {
  cursor: pointer;
  cursor: hand;
}
tr.memento-tweak-permissions-processed td.module {
  border-top: 0;
}
